.navbar {
    padding: 10px 10px;
    background-color: transparent; /* Initially transparent */
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: #677D6A; /* Color after scroll */
}

.navbar-brand {
    color: #E1D7B7;
    font-weight: bold;
    text-align: right;
    margin-right: 20px; /* Adds space between the text and the edge */
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #7C93C3;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    font-size: 16px;
}

.nav-link {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    position: relative;
    color: #E1D7B7;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #1E2A5E;
}

.nav-link:after {
    content: '';
    color: #fffbf1;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #FAEDCE;
    transition: transform 0.3s ease;
}

.nav-link:hover:after {
    transform: scaleX(1);
    color: #E0E5B6;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 15px; /* Spacing between social icons */
}

.social-icon {
    font-size: 20px; /* Adjust the size of the icons */
    color: #E1D7B7;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #fafbff;
}
