<section class="overview-section">
    <div class="container">
        <!-- Page Title -->
        <h3>Explore More About Sudharshan</h3>

        <!-- Education Section Title -->
        <h2 class="section-title">Education</h2>

        <div class="row">
            <!-- School Education -->
            <div *ngFor="let item of schoolEducation" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-image">
                        <img [src]="item.image" alt="School Education">
                    </div>
                    <div class="card-content">
                        <button class="card-title btn btn-details" (click)="toggle(item.id)">
                            {{ item.title }}
                        </button>
                        <div *ngIf="item.showDetails" class="card-details">
                            <p><strong>Institution:</strong> {{ item.details.split('\n')[0] }}</p>
                            <p><strong>Duration:</strong> {{ item.details.split('\n')[1] }}</p>
                            <p><strong>Location:</strong> {{ item.details.split('\n')[2] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- College Education -->
        <h2 class="section-title">College Education</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-image">
                        <img [src]="collegeEducation[0].image" alt="College Education">
                    </div>
                    <div class="card-content">
                        <button class="card-title btn btn-details" (click)="toggle(collegeEducation[0].id)">
                            {{ collegeEducation[0].title }}
                        </button>
                        <div *ngIf="collegeEducation[0].showDetails" class="card-details">
                            <p>{{ collegeEducation[0].details }}</p>
                            <div *ngFor="let activity of collegeActivities">
                                <h4>{{ activity.title }}</h4>
                                <p>{{ activity.details }}</p>
                            </div>
                            <h4>Projects and Publications</h4>
                            <div *ngFor="let publication of collegePublications" class="card mt-3">
                                <div class="card-image">
                                    <img [src]="publication.image" alt="Publication">
                                </div>
                                <div class="card-content">
                                    <div class="card-title">
                                        {{ publication.title }}
                                    </div>
                                    <p>{{ publication.details }}</p>
                                    <a [href]="publication.link" class="project-link" target="_blank">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Work Experience Section Title -->
        <h2 class="section-title">Work Experience</h2>
        <div class="row">
            <!-- Work Experience -->
            <div *ngFor="let item of workExperience" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-image">
                        <img [src]="item.image" alt="Work Experience">
                    </div>
                    <div class="card-content">
                        <button class="card-title btn btn-details" (click)="toggle(item.id)">
                            {{ item.title }}
                        </button>
                        <div *ngIf="item.showDetails" class="card-details">
                            <div class="card-details">
                                <p><strong>Duration</strong> {{ item.details.split('\n')[0] }}</p>
                                <p><strong>Company</strong> {{ item.details.split('\n')[1] }}</p>
                                <p><strong>Roles & Responsibilities</strong> {{ item.details.split('\n')[2] }}</p>
                            </div>

                            <div *ngFor="let project of workProjects" class="card mt-3">
                                <div class="card-image">
                                    <img [src]="project.image" alt="Project">
                                </div>
                                <div class="card-content">
                                    <div class="card-title">
                                        {{ project.title }}
                                    </div>
                                    <p>{{ project.details }}</p>
                                    <a [href]="project.link" class="project-link" target="_blank">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Skills Section Title -->
        <h2 class="section-title">Skills and Technology</h2>
        <div class="row">
            <div *ngFor="let skillChunk of chunkedSkills" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-content">
                        <div class="skills-icons">
                            <div *ngFor="let skill of skillChunk" class="skill-icon">
                                <img [src]="skill.icon" alt="Skill Icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Personal Projects Section Title -->
        <h2 class="section-title">Personal Projects</h2>
        <div class="row">
            <!-- Projects -->
            <div *ngFor="let item of projects" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-image">
                        <img [src]="item.image" alt="Project">
                    </div>
                    <div class="card-content">
                        <button class="card-title btn btn-details" (click)="toggle(item.id)">
                            {{ item.title }}
                        </button>
                        <div *ngIf="item.showDetails" class="card-details">
                            <p>{{ item.details }}</p>
                            <a [href]="item.link" class="project-link" target="_blank">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>